* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

:root {
  --blue: rgba(40, 67, 135);
  --light-blue: rgba(205, 209, 228);
  --top: #002853;
  --main: #040C18;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #002853, #022347, #051f3c, #071a31, #081526, #091526, #091626, #0a1626, #0a1c31, #09213d, #08274a, #072d56);
}

.formContainer {
  background: 042C54;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
  width: 400px;
  /* height: 220px; */
  padding: 2rem 3rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

form {
  width: 100%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  position: relative;
}

.urlInput {
  border-radius: 5px;
}

.input {
  border: 2px solid var(--top);
  color: var(--top);
  padding: 0.6rem 0.6rem;
  width: 100%;
  flex: 4;
}

.input::placeholder {
  color: var(--top);
  opacity: 0.5;
}

.blur {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  filter: blur(8rem);
}

.top {
  background: #0F4279;
  top: -30%;
  left: -20%;
}

.bottom {
  background: #1B78DE;
  bottom: -30%;
  right: -20%;

}

.cont {
  display: flex;
  align-items: center;
  /* width: 100%; */
  background: white;
  /* border: 2px solid var(--top); */
  border-radius: 5px;
  overflow: hidden;
}

.cont input {
  background: none;
  border: none;
}


.minifyText {
  background: var(--top);
  color: white;
  padding: 0.6rem 0;
  width: 7rem;
  text-align: center;
}

.result {
  display: flex;
  gap: 5px;
}

.resultText {
  background: #0F4279;
  /* background: #7db3ec; */
  width: 100%;
}

.copy {
  background: #dc560e;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  color: white;
  transition: all .3s ease;
}


.btn {
  padding: 0.6rem 2rem;
  align-self: center;
  background: #dc560e;
  border-radius: 5px;
  color: white;
  transition: all .3s ease;
}

.copy:hover {
  background: white;
  color: #dc560e;
}

.copy:active, .btn:active {
  transform: scale(0.8);
}

.btn:hover {
  background: white;
  color: #dc560e;
  padding-inline: 2.1rem;
}